---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

.mainbody {
    background-color: #2b3538;
    font-family: "Noto Sans Mono", monospace;
    color: white;
}

.container {
    width: 100%;
    background-color: #2b3538;
}

.container h1 {
    color: white;
}

.center {
    text-align: center;
}

.header {
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 10px;
    border: 2px solid white;
    padding-top: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 10px !important;
    overflow: hidden;
}

.header-left {
    padding-top: 10px;
    text-align: left;
    float: left;
    width: 70%;
}

.header-right {
    text-align: right;
    float: right;
    width: 30%;
}

.menu {
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 10px;
    border: 2px solid white;
    padding-top: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 10px !important;
    overflow: hidden;
}

.menu-left {
    float: left;
    text-align: center;
    width: 33%;
}

.menu-left:hover {
    background-color: black;
}

.menu-right:hover {
    background-color: black;
}

.menu-center:hover {
    background-color: black;
}

.menu-center {
    float:left;
    width: 33%;
    text-align: center;
}

.menu-right {
    float: right;
    text-align: center;
    width: 33%;
}

.content {
    display: block;
    margin: auto;
    width: 50%;
    height: 55vh;
    padding-top: 10px;
    border: 2px solid white;
    padding-top: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 10px !important;
    overflow: hidden;
}

.footer {
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 10px;
    border: 2px solid white;
    padding-top: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 10px !important;
    overflow: hidden;
    text-align: center;
}

@import "highlights";
@import "svg-icons";